.model-preview-cover {
	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 2rem;

	z-index: 100;

	background-color: #000000bb;
	backdrop-filter: blur(2.5px);
}

.model-preview {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;

	width: 100%;
	height: 100%;

	background-color: var(--white);
	border-radius: 3px;
	z-index: 101;

	&__btn-close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		z-index: 102;

		padding: 0.25rem 0.5rem;
		border-radius: 50%;
		border: 1px solid transparent;
		background-color: var(--dark);

		will-change: background-color;
		transition: background-color 300ms ease-in-out 0s;

		& span {
			color: var(--light);
			will-change: color;
			transition: color 300ms ease-in-out 0s;
		}

		&:hover {
			cursor: pointer;
			background-color: var(--black);

			& span {
				color: var(--white);
			}
		}
	}
}

.model-interactive {
	width: 100%;
	height: 100%;

	background-color: var(--light);

	&-wrapper {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		flex-grow: 1;
	}
}

.model-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding: 1rem;

	& h3 {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		color: var(--black);
	}

	& div {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;

		font-size: 0.9rem;
		color: var(--black);
	}
}
