.model-preview-cover {
	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 2rem;

	z-index: 100;

	background-color: #000000bb;
	backdrop-filter: blur(2.5px);
}

.model-preview {
	display: flex;
	flex-direction: column;
	position: relative;

	width: 100%;
	height: 100%;

	background-color: var(--white);
	border-radius: 3px;
	z-index: 101;
}

.model-interactive {
	width: 100%;
	height: 100%;

	&-wrapper {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		flex-grow: 1;
	}
}

.model-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding: 1rem;
}
