@import '@/styles/mixins.scss';

.header {
	align-items: center;
	padding: 0 15px;

	&-wrapper {
		width: 100vw;
		margin: 0 auto;
		background-color: var(--white);

		position: sticky;
		top: 0;
		z-index: 99;

		box-shadow: 0 0 5px var(--shadow);
	}

	&__logo {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		padding: 0.5rem 0;

		@include md {
			justify-content: center;
		}

		& .svg-logo {
			background: url('/favicon.svg') no-repeat center center;
			background-size: contain;
			width: 1.75rem;
			height: 1.75rem;
		}

		& h2 {
			font-size: 1.1rem;
			color: var(--dark);
			font-weight: 700;
			letter-spacing: -0.5px;
		}
	}
}

.nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	gap: 1.5rem;

	@include md {
		justify-content: space-evenly;
	}

	&-wrapper {
		display: flex;
		width: 100%;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		padding: 0.75rem 0;
		will-change: color;
		transition: color 300ms ease-in-out 0s;

		position: relative;

		color: var(--black);
		font-weight: 600;

		&::before {
			content: '';
			position: absolute;

			left: 50%;
			transform: translateX(-50%);
			bottom: 0;

			width: 0px;
			height: 0.14rem;

			transition:
				width 350ms ease-in-out 0s,
				color 300ms ease-in-out 0s;
			background-color: var(--black);
		}

		&:hover {
			cursor: pointer;
			color: var(--green);
		}

		&:hover::before {
			width: 100%;
			background-color: var(--green);
		}
	}
}
