@import '@/styles/mixins.scss';

.models {
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;

	width: 100%;

	&-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 2rem;
	}

	&-item {
		display: flex;
		width: calc(33.33333% - 31px);
		margin: 0 15px 30px;
		flex: none;
	}

	@include lg {
		&-item {
			width: calc(50% - 31px);
		}
	}

	@include md {
		&-item {
			width: calc(100% - 31px);
		}
	}
}

.page-bottom {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1rem 0;
}

.btn-return {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 0.35rem 1rem;
	border-radius: 0.315rem;

	background-color: var(--green);
	color: var(--white);
	font-weight: 600;

	will-change: filter;
	transition: filter 300ms ease-in-out 0s;

	&:hover {
		cursor: pointer;
		filter: brightness(1.05);
	}
}
